
.page{
  overflow: hidden;
  padding: 0 5rem;
  margin-right: auto;
}

.img-album{
  width: 230px;
  height: 230px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container-for-swiper {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--couleur2); 
  position: absolute;
  height: 2rem; 
  width: 2rem; 
  top: 50%;
  transform: translateY(-50%); 
  z-index: 1;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: 'swiper-icons';
  font-size: 14px;
  transition: color 0.3s ease; /* transition pour le svg */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--couleur3); 
  color: #fff; 
}

.swiper-button-next{
  right: -2rem;
}

.swiper-button-prev{
  left: -2rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: 'swiper-icons';
  font-size: 14px;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}


.container-for-swiper {
  position: relative;
}
