.header-album{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 30px;
}

.img-album{
    height: 200px;
    width: 200px;
    display: flex;
}

.musique-title{
    display: flex;
    justify-content: center;
}

.button-critique{
    background-color: var(--couleur1);
    border-radius: 7px;
    font-family: 'Nunito';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    width: 200px;
    height: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

<<<<<<< HEAD
.icon-horloge{
    height: 15px;
    width: 15px;
}

=======
>>>>>>> origin/ajax-page-accueil
.critique-auditeur .left img{
    border-radius: 50%;
    margin-right: 20px;
}

.musique-title .right{
    margin-left: 20px;
<<<<<<< HEAD
    align-items: center;
    display: flex;
=======
>>>>>>> origin/ajax-page-accueil
}

.container-critique .critique{
    background-color: var(--couleur3);
    border-radius: 10px;
    padding: 5px;
    height: auto;
    width: 45rem;
}

.critique-auditeur{
    display: flex;
    justify-content: center;
}

.critique-auditeur img{
    height: 70px;
    width: 70px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr{
    text-align: center;
}

.img-album .note{
    position: relative;
    color: white;
    left: -70px;
    top: 10px;
    font-family: 'Nunito';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.img-album img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.info{
    flex-basis: 60%;
    margin: 20px;
}

.navbar-album{
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-top: 20px;
}

.navbar-album li{
    margin-right: 20px;
}

.navbar-album{
    flex-basis: 100%;
}

.container-musique{
    flex-basis: 100%;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
}

.container-critique{
    flex-basis: 100%;
    display: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
<<<<<<< HEAD
}

.container-musique .add-playlist{
    height: 40px;
    width: 40px;
}

.container-add-playlist{
    height: 200px;
    width: 400px;
    background-color: var(--couleur1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    display: none;
    flex-direction: column;
}

.container-add-playlist header .title p{
    color: white;
    font-family: 'Nunito';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
}

.container-add-playlist header{
    display: flex;
    align-items: center;
    height: 20%;
}

.container-add-playlist .title{
    margin-left: 20px;
}

.container-add-playlist .content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.container-add-playlist .add-playlist a{
    font-family: 'Nunito';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: var(--couleur4);
    font-size: 15px;
}

.container-add-playlist .add-playlist{
    background-color: var(--couleur3);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    cursor: pointer;
}

.container-add-playlist footer{
    display: flex;
    justify-content: center;
}

.container-add-playlist footer{
    height: 20%;
    margin-bottom: 10px;
=======
>>>>>>> origin/ajax-page-accueil
}