body {
    overflow: hidden;
}

.infos-artistes {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.img-artiste {
    margin-right: 3rem;
    margin-left: 2rem;
    flex-basis: 30%;
    flex-grow: 0;
    display: flex;
    justify-content: center;
}

.img-artiste img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    border-radius: 5px;
}

.infos-artistes h1 {
    font-size: 3rem;
    font-weight: 700;
}

.infos-artistes p {
    font-weight: 400;
}

.infos-artistes button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--couleur3);
    color: var(--couleur4);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.infos-artistes button:hover {
    background-color: var(--couleur1);
    color: var(--couleur2);
}

.desc-artiste {
    flex-grow: 1;
    flex-basis: 60%;
}

.nav-artiste {
    margin-left: 3rem;
}

.nav-artiste a {
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: var(--couleur4);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.nav-artiste a:hover {
    color: var(--couleur1);
}

.nav-artiste li {
    list-style: none;
}

.nav-artiste ul {
    display: flex;
    align-items: center;
}

.musiques {
    display: flex;
    flex-wrap: nowrap;
    padding: 3rem;
}

.musiques h2 {
    font-size: 2rem;
    font-weight: 700;
}

.derniere-sortie {
    flex-basis: 40%;
    flex-grow: 0;
    margin-right: 3rem;
}

.derniere-sortie h2, .top-titres h2 {
    margin-bottom: 2rem;
    font-size: 200%;
}

.top-titres {
    flex-basis: 50%;
    flex-grow: 1;
}

.list-titres li {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: black;
    display: block;
    margin: 0.5rem;
}

.list-titres p {
    padding: 1rem 1rem;
    display: inline-block;
}

.artiste-genre li {
    list-style: none;
    margin: 0 1rem 0 0;
    font-weight: bold;
    color: var(--couleur4);
    text-transform: uppercase;
}

.artiste-genre {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.section-mouvante {
    padding: 2rem  2rem 2rem 5rem;
    display: flex;
}
 
.scroll {
    overflow-y: scroll;
    height: 12rem;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 30px;
    scrollbar-color: var(--couleur1) var(--couleur3);
}

.musique-titre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-artiste a.active {
    border-bottom: 3px solid var(--couleur1);
}

