:root{
    --header-height: 75px;
}

.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    display: flex;
    z-index: 3;
    border-bottom: 1px solid var(--couleur3);
    background-color: white;
    flex-wrap: wrap;
}

.page{
    margin-top: var(--header-height);
}

.header .search-bar input{
    height: 55px;
    width: 470px;
    background-color: var(--couleur3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    border-right: 1px solid var(--couleur4);
    border-bottom: 1px solid var(--couleur4);
    border-top: 1px solid var(--couleur4);
}

.header .search-bar input:focus{
    outline: none;
}

.logo{
    height: 30px;
    width: 200px;
    margin-right: 20px;
}

.header .left{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.icon_search{
    height: 55px;
    width: 70px;
    background-color: var(--couleur3);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid var(--couleur4);
    border-bottom: 1px solid var(--couleur4);
    border-top: 1px solid var(--couleur4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_search img{
    height: 24px;
    width: 24px;
}

.icon_search{
    vertical-align: middle;
}

.header .left div{
    display: flex;
}

.header .left .container{
    align-items: center;
}

.header .right{
    display: flex;
    flex-basis: 300px;
    align-items: center;
}

.header .right .notif-icon{
    height: 32px;
    width: 28px;
}

.header .right .notif{
    margin-right: 10%;
    margin-left: 25px;
    display: flex;
}

.header .right .profil{
    display: flex;
    height: 55px;
    background-color: var(--blue);
    border-radius: 8px;
    align-items: center;
    width: 190px;
    justify-content: space-between;
}

.header .right .profil a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2em;
}

.profil-icon{
    height: 55px;
    width: 55px;
    border-radius: 8px;
    background-color: var(--couleur3);
    vertical-align: middle;
}

.header .right .notif .nb-notif{
    position: relative;
    left: -10px;
    height: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 18px;
    background-color: var(--couleur1);
    border-radius: 50%;
}

header .right .notif .nb-notif p{
    color: white;
    font-size: 0.665rem;
}

.publier a{
    text-decoration: none;
    color: var(--couleur4);
    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
}

.icon_publier{
    height: 30px;
    width: 30px;
}

.publier{
    background-color: var(--couleur3);
    border-radius: 8px;
    height: 55px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    margin-top: var(--header-height);
}

.menu-close{
    margin-top: var(--header-height);
}

.menu-open{
    margin-top: var(--header-height);
}